*{
    font-family: Arial, Helvetica, sans-serif; 
    color: #4b4b4b
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#info-container{
    align-self: start;
    margin-left: 10%;
}

#score{
    letter-spacing: 2px;
}

#container{
    background-color: #DAE3D9;
    margin : 50px;
    margin-top: 10px;
    position: relative;
    width: 80%;
    height: 500px;
}

.goldCircles{
    border-radius: 20px;
    color: #f4a80d;
}

#innerCircle{
    margin-left: 10px;
    margin-top:10px
}

span{
    color: #f4a80d;
    margin-left: 5px;
    font-size: 20px;
}
